@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Page Not Found 404</title>
    <meta http-equiv="refresh" content="5;url=/" />
</head>
<body>
    <div>

        <img src="~/Content/images/error_404_page_not_found_by_siddharthag-d3125uw.jpg" />
        <br/>
        @Html.ActionLink("Home Page", "Index", "Home")
    </div>
</body>
</html>
