@model IEnumerable<TrafalgarSquare.Web.ViewModels.User.ChatFriendViewModel>
<div>
    <div class="col-md-9">
        <div class="row">
            <h2><a href=""></a></h2>
        </div>
        <div>
            <div class="row" id="messages"></div>
            <div class="row">
                <textarea class="col-md-10" id="personal-message" placeholder="your message..."></textarea>
                <a class="col-md-2 btn btn-info" id="send-message-button">Send</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Friends:</h2>
        @if (!@Model.Any())
        {
            <p>You don't have friends to send message.</p>
        }
        else
        {
            <ul class="list-group chatUsersUl">
                @Html.DisplayFor(z => z)
            </ul>
        }
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.js");
    @Scripts.Render("~/signalr/hubs");
    <script>
        var rooms = [];
        var userId;
        var getAllMessages = function () {
            $.ajax({
                type: "POST",
                url: '/Messages/FromUser/',
                data: { senderId: userId },
            }).success(function (data) {
                $('#messages').html(data);
                var scrollHeight = $('#messages')[0].scrollHeight;
                $('#messages').scrollTop(scrollHeight);
                $('#global-unseen-messages-count').text(parseInt($('#global-unseen-messages-count').text()) - parseInt($('#unseen-messages-' + userId).text()));
                $('#unseen-messages-' + userId).text(0);
            }).error(function (error) {

            });
        };

        $(document).ready(function () {
            $('#send-message-button').prop('disabled', true);


            $('.chat-user').click(function () {
                userId = $(this).data('user-id');
                $('.chat-user').removeClass('selectedChatUser');
                $(this).addClass('selectedChatUser');
                $('#send-message-button').prop('disabled', false);
                getAllMessages();
                $('#personal-message').val('');
            });

            $.connection.hub.start();

            var chat = $.connection.chat;

            $('#send-message-button').click(function () {
                var msg = $('#personal-message').val();
                if (userId) {
                    chat.server.sendPersonMessage(userId, msg);
                    getAllMessages();
                    $('#personal-message').val('');
                } else {
                    // TODO send alert "no user is selected"
                }
            });


            chat.client.addMessage = addMessage;
        });

        function addMessage(message) {
            var newMessage = $.parseJSON(message);
            if (newMessage.userId == userId) {
                getAllMessages();
            } else {
                var notificationsCount = $('#unseen-messages-' + newMessage.userId).text();
                if (notificationsCount) {
                    notificationsCount = parseInt(notificationsCount);
                    $('#unseen-messages-' + newMessage.userId).text(notificationsCount + 1);
                }
            }
        }
    </script>
}
