@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PageNotFound404</title>
</head>
<body>
    <div>

        <img src="~/Content/images/error_404_page_not_found_by_siddharthag-d3125uw.jpg" />
        @Html.ActionLink("Home Page", "Index", "Home")
    </div>
</body>
</html>
